@import "../../../assets/colors";
@import "../../../assets/common-style";

.login {
  min-height: 100vh;
  background-image: url("../../../assets/images/login-bg.png");
  background-size: cover;
  &__formContainer {
    background-color: white;
    padding: 50px;
    border-radius: 12px;
    width: 535px;
  }
  &__text {
    text-align: center;
    &__title {
      margin: 0;
    }
    &__subtitle {
      color: $subtitle-color;
      width: 60%;
    }
  }
  &__form {
    &__phone {
      padding-bottom: 20px;
    }
    &__password {
      padding-bottom: 20px;
      a {
        margin-top: 10px;
        color: $very-light-grey;
      }
    }
    &__signIn {
      padding-top: 20px;
      a {
        color: $very-light-grey;
      }
    }
  }
}
