<div class="survey d-flex flex-column gap-20">

  <div class="header d-flex justify-content-center align-items-center" *ngIf="surveyType === 2">
    <h4>Feedback</h4>
    <button class="add-question d-flex justify-content-center align-items-center" *ngIf="surveyType === 2"
      [disabled]="feedbackQuestionsList.length >= 5" (click)="addFeedbackQuestion()">
      <fa-icon [icon]="addIcon"></fa-icon>
    </button>
    <button class="add-question d-flex justify-content-center align-items-center"
      [disabled]="!feedbackQuestionsList.length" (click)="deleteFeedbackQuestion()">
      <fa-icon [icon]="deleteIcon"></fa-icon>
    </button>

  </div>

  <div class="d-flex flex-column gap-20" *ngFor="let question of feedbackQuestionsList; let i = index">
    <div class="survey__inputs w-100">
      <input type="text" class="form-input w-100" [(ngModel)]="feedbackQuestionsList[i].question"
        placeholder="Question " />
    </div>

    <div class="survey__inputs w-100">
      <input type="text" class="form-input w-100" [(ngModel)]="feedbackQuestionsList[i].answer1"
        placeholder="Answer 1 " />
    </div>

    <div class="survey__inputs w-100">
      <input type="text" class="form-input w-100" [(ngModel)]="feedbackQuestionsList[i].answer2"
        placeholder="Answer 2 " />
    </div>

  </div>

  <button class="action-btn edit-btn" (click)="submitSurvey(feedbackQuestionsList)"> Submit </button>

</div>
