@import "../../../assets/colors";

.home-content {
  padding: 35px 0;
  &__analysis {
    &__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 26px;
    }
  }
  &__doctorsAndVideos {
    display: flex;
    width: 100%;
    gap: 42px;
    margin-top: 16px;
  }
  &__doctorsList {
    width: 600px;
    &__cards {
      width: 100%;
      padding: 18px 18px 8px;
      background-color: #f8f8f8;
      border-radius: 8px;
    }
  }
  &__videosList {
    width: calc(100% - 600px);
    &__titleAndLink {
      display: flex;
      justify-content: space-between;
      align-items: center;
      a {
        color: $primary;
        text-decoration: none;
      }
    }
    &__cards {
      width: 100%;
      padding: 18px 18px 8px;
      background-color: #f8f8f8;
      border-radius: 8px;
    }
  }
}
