<div class="home-content">
  <div class="home-content__analysis">
    <h3 class=""> Analysis </h3>
    <div class="home-content__analysis__cards">
      <app-analysis-card [title]="coverageTitle" [chartData]="coverageChartData"></app-analysis-card>
      <app-analysis-card [title]="interfactionalTitle" [chartData]="interfactionalChartData"></app-analysis-card>
      <app-frequency-card [frequencyData]="{number:'2.4'}"></app-frequency-card>
    </div>
  </div>
  <div class="home-content__doctorsAndVideos">
    <div class="home-content__doctorsList">
      <h3 class=""> Doctors list </h3>
      <div class="home-content__doctorsList__cards">
        <app-doctors-card *ngFor="let item of [1,2,3,4,5]" [doctorsData]="doctorsData"></app-doctors-card>
      </div>
    </div>
    <div class="home-content__videosList">
      <div class="home-content__videosList__titleAndLink">
        <h3 class=""> My Videos </h3>
        <h5 class=""> <a> See All </a> </h5>
      </div>
      <div class="home-content__videosList__cards">
        <app-videos-list-card *ngFor="let item of [1,2,3]" [videosData]="videosData"></app-videos-list-card>
      </div>
    </div>
  </div>
</div>
