<div class="home-content">
  <div class="home-content__analysis">
    <h3 class=""> Analysis </h3>
    <div class="home-content__analysis__cards">
      <app-analysis-card *ngFor="let chart of charts | slice:0:5" [chartData]="chart"></app-analysis-card>
      <app-frequency-card [frequencyData]="{number:'2.4'}"></app-frequency-card>
    </div>
  </div>
  <div class="home-content__doctorsAndVideos d-flex">
    <div class="home-content__doctorsList">
      <h3 class=""> Doctors list </h3>
      <div class="home-content__doctorsList__cards">
        <app-doctors-card *ngFor="let doctor of doctors | slice:0:5" [doctorsData]="doctor"></app-doctors-card>
      </div>
    </div>
    <div class="home-content__videosList">
      <div class="home-content__videosList__titleAndLink d-flex justify-content-between align-items-center">
        <h3 class=""> My Videos </h3>
        <h5 class=""> <a> See All </a> </h5>
      </div>
      <div class="home-content__videosList__cards">
        <app-videos-list-card *ngFor="let video of videos | slice:0:3" [videosData]="video"></app-videos-list-card>
      </div>
    </div>
  </div>
</div>
