<div class="add-video">

  <h2> Add new video </h2>

  <p-tabView [(activeIndex)]="currentTabIndex" (onChange)="onTabChange($event)">

    <p-tabPanel header="Step 1: Choose audience" [headerStyleClass]="'activeTab'">
      <ng-template pTemplate="choose-audience">
        <app-add-video-choose-audience (onSubmitDoctorsList)="submitDoctorsList($event)">
        </app-add-video-choose-audience>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Step 2: Upload videos"
      [headerStyleClass]="(currentTabIndex == 1 || currentTabIndex == 2) ? 'activeTab' : ''">
      <ng-template pTemplate="upload-videos">
        <app-add-video-upload-videos></app-add-video-upload-videos>
      </ng-template>
    </p-tabPanel>

    <p-tabPanel header="Step 3: Submissions" [headerStyleClass]="currentTabIndex == 2 ? 'activeTab' : ''">
      <ng-template pTemplate="video-submissions">
        <app-add-video-submissions></app-add-video-submissions>
      </ng-template>
    </p-tabPanel>

  </p-tabView>

</div>
