<div class="video-submissions">
  <h3>Video Submission</h3>
  <div class="video-submissions__content">

    <div class="video-submissions__content__video d-flex justify-content-center">
      <div class="video-submissions__content__video__container">
        <img src="../../../../../assets/images/medicines.jpg" />
      </div>
    </div>

    <div class="video-submissions__content__actions d-flex justify-content-between">

      <div class="video-submissions__content__actions__cancel">
        <button class="cancel-btn-transparent action-btn d-flex align-items-center"
          (click)="cancelRequest()">cancel</button>
      </div>

      <diV class="video-submissions__content__actions__submit d-flex align-items-center">
        <button class="cancel-btn-transparent action-btn d-flex align-items-center" (click)="continueLater()">Save &
          continue later</button>
        <button class="edit-btn action-btn d-flex align-items-center justify-content-center"
          (click)="submitRequest()">Submit</button>
      </diV>

    </div>

  </div>
