<div class="signup d-flex align-items-center flex-column">
  <div class="sign-logo-cont">
    <img src="../../../assets/images/logo.jpg" alt="logo" width="70" />
  </div>
  <div class="signup__formContainer d-flex flex-column">
    <div class="signup__text d-flex align-items-center flex-column justify-content-center">
      <h2 class="signup__text__title"> Welcome to 30 MED </h2>
      <p class="signup__text__subtitle"> Slogan here and it may contains more than one line. </p>
    </div>

    <div style="text-align: center;">
      <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
    </div>

    <form [formGroup]="signupForm" class="signup__form" (ngSubmit)="signup(signupForm)" *ngIf="!isLoading">

      <p-tabView [(activeIndex)]="currentTabIndex">

        <p-tabPanel header="step 1" [headerStyleClass]="'activeTab'">
          <h3> Step 1 : Registration Info </h3>

          <div class="signup__form__company-name form-control d-flex flex-column">
            <label for="company-name"> Company Name </label>
            <input type="text" class="form-input" formControlName="companyName" id="company-name"
              placeholder="Company Name Here " required />
          </div>

          <div class="signup__form__company-mail form-control d-flex flex-column">
            <label for="company-mail"> Company E-mail </label>
            <input type="text" class="form-input" formControlName="companyEmail" id="company-mail"
              placeholder="Company E-mail Here" required />
            <span class="error-message" *ngIf="
              signupForm?.get('companyEmail')?.value && signupForm?.get('companyEmail')?.touched &&
              signupForm?.get('companyEmail')?.errors?.['email']">
              Please enter a valid mail
            </span>
          </div>

          <div class="signup__form__file form-control">
            <label for="file">Choose File</label>
            <p-fileUpload name="myfile[]" [maxFileSize]="3000000" accept="image/*" (onSelect)="onFileSelect($event)"
              (onRemove)="onFileRemove($event)"> </p-fileUpload>
          </div>

          <div class="signup__form__password form-control d-flex flex-column">
            <label for="password"> Password </label>
            <input type="password" class="form-input" formControlName="password" id="password"
              placeholder="Password Here" required />
            <span class="error-message" *ngIf="
              signupForm?.get('password')?.value && signupForm?.get('password')?.touched &&
              signupForm?.errors?.['passwordsNotValid']">
              Please Enter a valid password, your password must:
              <ul style="list-style-type: square;">
                <li> be at least 6 characters </li>
                <li> contains One or more letters are in lowercase </li>
                <li> contains One or more letters are in uppercase </li>
                <li> contains One or more number </li>
                <li> contains One or more special character %, ^, &, @, # </li>
              </ul>
            </span>
          </div>

          <div class="signup__form__rePassword form-control d-flex flex-column">
            <label for="repassword"> Re-enter Password </label>
            <input type="password" class="form-input" formControlName="rePassword" id="repassword"
              placeholder="Re-enter Password Here" required />
            <span class="error-message" *ngIf="
              signupForm?.get('password')?.value && signupForm?.get('password')?.touched &&
              signupForm?.get('rePassword')?.value && signupForm?.get('rePassword')?.touched &&
              signupForm?.errors?.['passwordsNotMatching']">
              Passwords Doesn't Match
            </span>
          </div>


          <div class="signup__form__signup d-flex align-items-center flex-row justify-content-between">
            <a routerLink="/auth/login"> Already have an account? Sign in </a>
            <button type="button" class="sign-button" [disabled]="!signupForm.valid" (click)="openSecondTab()">
              Next <i class="pi pi-arrow-right"></i>
            </button>
          </div>

        </p-tabPanel>

        <p-tabPanel header="step 2" [headerStyleClass]="currentTabIndex == 1 ? 'activeTab' : ''"
          [disabled]="!signupForm.valid">
          <h3> Step 2 : Responsible person Info </h3>

          <div class="signup__form__responsible-person-name form-control d-flex flex-column">
            <label for="responsible-person-name"> Person name </label>
            <input type="text" class="form-input" formControlName="name" id="responsible-person-name"
              placeholder="Responsible Person Name Here " [required]="currentTabIndex == 1" />
          </div>

          <!-- <div class="signup__form__responsible-mail form-control d-flex flex-column">
            <label for="responsible-mail"> E-mail </label>
            <input type="text" class="form-input" formControlName="email" id="responsible-mail"
              placeholder="Responsible E-mail Here" [required]="currentTabIndex == 1" />
            <span class="error-message" *ngIf="
              signupForm?.get('email')?.value && signupForm?.get('email')?.touched &&
              signupForm?.get('email')?.errors?.['email']">
              Please enter a valid mail
            </span>
          </div> -->

          <div class="signup__form__responsible-title form-control d-flex flex-column">
            <label for="responsible-title"> Title </label>
            <input type="text" class="form-input" formControlName="title" id="responsible-title"
              placeholder="Responsible Title Here " [required]="currentTabIndex == 1" />
          </div>

          <div class="signup__form__responsible-phone form-control d-flex flex-column">
            <label for="responsible-phone"> Mobile number </label>
            <input type="text" class="form-input" formControlName="phone" id="responsible-phone"
              placeholder="Responsible Mobile Number Here" [required]="currentTabIndex == 1" />
          </div>

          <div class="signup__form__signup d-flex align-items-center flex-row justify-content-between">
            <a routerLink="/auth/login"> Already have an account? Sign in </a>
            <button type="submit" class="sign-button" [disabled]="!signupForm.valid">
              Sign up
              <i class="pi pi-arrow-right"></i>
            </button>
          </div>
        </p-tabPanel>

      </p-tabView>

    </form>
    <!-- <button (click)="click()"> 00000 </button> -->

  </div>
</div>


<p-toast position="top-right" [baseZIndex]="5000"></p-toast>
