@import "../../../assets/colors";
@import "../../../assets/common-style";

.signup {
  min-height: 100vh;
  background: url("../../../assets/images/login-bg.png");
  background-size: cover;
  &__formContainer {
    background-color: white;
    padding: 50px;
    border-radius: 12px;
    width: 535px;
  }
  &__text {
    text-align: center;
    &__title {
      margin: 0;
    }
    &__subtitle {
      color: $subtitle-color;
      width: 60%;
    }
  }
  &__form {
    &__phone {
      padding-bottom: 20px;
    }
    &__password {
      padding-bottom: 20px;
      a {
        margin-top: 10px;
        color: $very-light-grey;
      }
    }
    &__signup {
      padding-top: 20px;
    }
  }
}

span {
  position: relative;
  background: $input-bg;
  outline: none;
  outline: 2px dashed $primaryLowOpacity;
  color: $primary;
  margin-top: 8px;
  border-radius: 12px;
  height: 55px;
  cursor: pointer;
  font-weight: 700;
}

span input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  font-size: 0px;
  z-index: 999;
  cursor: pointer;
}

span i {
  color: $input-bg;
  background-color: $primary;
  padding: 4px;
  font-weight: bold;
  border-radius: 50%;
  margin-inline: 5px;
}
