@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  font-family: "Roboto", sans-serif;
}

.render-components {
  padding: 50px;
  background-color: lightblue;
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 26px;
  }
}
