@import "../../../assets/colors";
@import "../../../assets/common-style";

.about {
  padding: 35px 0;
  &__details {
    width: 100%;
    &__title-and-action {
      padding-bottom: 30px;
    }
    &__content {
      background-color: $light-grey-bg;
      padding: 30px 20px;
      &__text {
        gap: 10px;
        label {
          font-weight: bold;
        }
        textarea {
          background: none;
          border: none;
          padding: 20px;
          height: max-content;
          outline: none;
          box-shadow: none;
          resize: none;
          &.edit-input {
            background-color: $white;
            border-radius: 8px;
          }
          &.p-disabled,
          &.p-component:disabled {
            opacity: 1;
          }
        }
      }
    }
  }
}
