<button (click)="test()">0000000000000000</button>

<div class="full-tree">
  <p-organizationChart [value]="treeData">

    <ng-template let-card pTemplate="upload-video">
      <div class="card-container upload-video d-flex flex-column">
        <div class="header">
          <h4>{{card.label}}</h4>
        </div>
        <div class="content" *ngIf="card.subType == 'intro' && !isVideoUploaded.intro">
          <button class="action-btn edit-btn" (click)="showUploadVideoDialogFn()">Upload Video</button>
        </div>
        <div class="content" *ngIf="card.subType == 'answer1' && !isVideoUploaded.answer1">
          <button class="action-btn edit-btn" (click)="showUploadVideoDialogFn()">Upload Video</button>
        </div>
        <div class="content" *ngIf="card.subType == 'answer2' && !isVideoUploaded.answer2">
          <button class="action-btn edit-btn" (click)="showUploadVideoDialogFn()">Upload Video</button>
        </div>
        <div class="content" *ngIf="card.subType == 'feedback' && !isVideoUploaded.feedback">
          <button class="action-btn edit-btn" (click)="showUploadVideoDialogFn()">Upload Video</button>
        </div>

        <div class="content" *ngIf="card.subType == 'intro' && isVideoUploaded.intro">
          <p> The introduction video has been Uploaded </p>
        </div>
        <div class="content" *ngIf="card.subType == 'answer1' && isVideoUploaded.answer1">
          <p> The first answer video has been Uploaded </p>
        </div>
        <div class="content" *ngIf="card.subType == 'answer2' && isVideoUploaded.answer2">
          <p> The seconde answer video has been Uploaded </p>
        </div>
        <div class="content" *ngIf="card.subType == 'feedback' && isVideoUploaded.feedback">
          <p> The feedback video has been Uploaded </p>
        </div>
      </div>
    </ng-template>

    <ng-template let-card pTemplate="select-question-type">
      <div class="card-container select-question-type d-flex flex-column">
        <div class="header">
          <h4>{{card.label}}</h4>
        </div>
        <div class="content">
          <p-selectButton [options]="questionsTypes" [(ngModel)]="selectedQuestionType"
            (onChange)="onQuestionTypeChange($event)" [disabled]="disableSelectQuestionType" optionValue="value"
            optionLabel="name"></p-selectButton>
        </div>
      </div>
    </ng-template>

    <ng-template let-card pTemplate="question">
      <div class="card-container question d-flex flex-column">
        <div class="header">
          <h4>{{card.label}} Survey</h4>
        </div>
        <div class="content">
          <app-add-video-survey [surveyType]="1" (onAddSurvey)="onAddSurvey($event)"> </app-add-video-survey>
          <div class="header">
            <h4>{{card.label}} Question</h4>
          </div>
          <app-add-video-question [isSurveyAdded]="isNormalSurveyAdded" [questionType]="1">
          </app-add-video-question>
        </div>
      </div>
    </ng-template>

  </p-organizationChart>
</div>

<div class="final-feedback-tree" *ngIf="selectedQuestionType">
  <p-organizationChart [value]="feedbackTreeData">

    <ng-template let-card pTemplate="upload-video">
      <div class="card-container upload-video d-flex flex-column">
        <div class="header">
          <h4>{{card.label}} Survey</h4>
        </div>
        <div class="content">
          <button class="action-btn edit-btn" (click)="showUploadVideoDialogFn()">Upload Video</button>
        </div>
      </div>
    </ng-template>

    <ng-template let-card pTemplate="question">
      <div class="card-container question d-flex flex-column" [ngClass]=" {'p-0': feedbackQuestionsList.length}">
        <div class="header d-flex justify-content-center align-items-center">
          <h4>{{card.label}}</h4>
          <button class="add-question d-flex justify-content-center align-items-center"
            *ngIf="card.questionType === 'feedback'" [disabled]="feedbackQuestionsList.length >= 5"
            (click)="addFeedbackQuestion()">
            <fa-icon [icon]="addIcon"></fa-icon>
          </button>
          <button class="add-question d-flex justify-content-center align-items-center"
            [disabled]="!feedbackQuestionsList.length" (click)="deleteFeedbackQuestion()">
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </button>

        </div>
        <div class="content">
          <app-add-video-survey [surveyType]="2" (onAddSurvey)="onAddSurvey($event)"> </app-add-video-survey>
          <div class="content__question" *ngFor="let question of feedbackQuestionsList, let i = index">
            <div class="header">
              <h4>{{card.label}} Question</h4>
            </div>
            <app-add-video-question [isSurveyAdded]="isFeedbackSurveyAdded" [questionType]="2">
            </app-add-video-question>
          </div>
          <button class="action-btn save-btn" [disabled]="!feedbackQuestionsList.length || !feedbackQuestionForm.valid"
            (click)="submitQuestion(feedbackQuestionForm)">Submit Question</button>
        </div>
      </div>
    </ng-template>

  </p-organizationChart>
</div>


<app-upload-video-dialog [showDialog]="showUploadVideoDialog" [videoType]="videoType"
  (closeDialogEvent)="onDialogClosed($event)" (uploadVideoEvent)="onUploadVideo($event)"></app-upload-video-dialog>
