<div class="full-tree">
  <p-organizationChart [value]="treeData">

    <ng-template let-card pTemplate="upload-video">
      <div class="card-container upload-video d-flex flex-column">
        <div class="header">
          <h4>{{card.label}}</h4>
        </div>
        <div class="content">
          <button class="action-btn edit-btn" (click)="showUploadVideoDialogFn()">Upload Video</button>
        </div>
      </div>
    </ng-template>

    <ng-template let-card pTemplate="select-question-type">
      <div class="card-container select-question-type d-flex flex-column">
        <div class="header">
          <h4>{{card.label}}</h4>
        </div>
        <div class="content">
          <p-selectButton [options]="questionsTypes" [(ngModel)]="selectedQuestionType"
            (onChange)="onQuestionTypeChange($event)" [disabled]="disableSelectQuestionType" optionValue="value"
            optionLabel="name"></p-selectButton>
        </div>
      </div>
    </ng-template>

    <ng-template let-card pTemplate="question">
      <div class="card-container question d-flex flex-column">
        <div class="header">
          <h4>{{card.label}}</h4>
        </div>
        <div class="content">
          <div class="content__question">
            <form [formGroup]="normalQuestionForm" (ngSubmit)="submitQuestion(normalQuestionForm)">
              <div class="content__question__form d-flex flex-column">
                <input type="text" class="form-input" formControlName="question" placeholder="Question Body Here"
                  [required]="selectedQuestionType =='normal'" />
                <input type="text" class="form-input" formControlName="firstAnswer" placeholder="Answer 1"
                  [required]="selectedQuestionType =='normal'" />
                <input type="text" class="form-input" formControlName="secondeAnswer" placeholder="Answer 2"
                  [required]="selectedQuestionType =='normal'" />
                <button class="action-btn save-btn" [disabled]="!normalQuestionForm.valid">Submit Question</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </ng-template>

  </p-organizationChart>
</div>

<div class="final-feedback-tree" *ngIf="selectedQuestionType">
  <p-organizationChart [value]="feedbackTreeData">

    <ng-template let-card pTemplate="upload-video">
      <div class="card-container upload-video d-flex flex-column">
        <div class="header">
          <h4>{{card.label}}</h4>
        </div>
        <div class="content">
          <button class="action-btn edit-btn" (click)="showUploadVideoDialogFn()">Upload Video</button>
        </div>
      </div>
    </ng-template>

    <ng-template let-card pTemplate="question">
      <div class="card-container question d-flex flex-column" [ngClass]=" {'p-0': feedbackQuestionsList.length}">
        <div class="header d-flex justify-content-center align-items-center">
          <h4>{{card.label}}</h4>
          <button class="add-question d-flex justify-content-center align-items-center"
            *ngIf="card.questionType === 'feedback'" [disabled]="feedbackQuestionsList.length >= 3"
            (click)="addFeedbackQuestion()">
            <fa-icon [icon]="addIcon"></fa-icon>
          </button>
          <button class="add-question d-flex justify-content-center align-items-center"
            [disabled]="!feedbackQuestionsList.length" (click)="deleteFeedbackQuestion()">
            <fa-icon [icon]="deleteIcon"></fa-icon>
          </button>

        </div>
        <div class="content">
          <div class="content__question" *ngFor="let question of feedbackQuestionsList, let i = index">
            <form [formGroup]="feedbackQuestionForm">
              <div class="content__question__form d-flex flex-column">
                <input type="text" class="form-input" [formControlName]="'question_'+(i+1)"
                  placeholder="Question Body Here" />
                <input type="text" class="form-input" [formControlName]="'firstAnswer_'+(i+1)" placeholder="Answer 1" />
                <input type="text" class="form-input" [formControlName]="'secondeAnswer_'+(i+1)"
                  placeholder="Answer 2" />
              </div>
            </form>
          </div>
          <button class="action-btn save-btn" [disabled]="!feedbackQuestionsList.length || !feedbackQuestionForm.valid"
            (click)="submitQuestion(feedbackQuestionForm)">Submit Question</button>
        </div>
      </div>
    </ng-template>

  </p-organizationChart>
</div>


<app-upload-video-dialog [showDialog]="showUploadVideoDialog"
  (onDialogClosed)="onDialogClosed($event)"></app-upload-video-dialog>
