<!-- <button (click)="test()">Get Message Data</button> -->

<div class="full-tree">
  <p-organizationChart [value]="treeData">

    <ng-template let-card pTemplate="upload-video">
      <div class="card-container upload-video d-flex flex-column">
        <div class="header">
          <h4 *ngIf="card.label">{{card.label}}</h4>
        </div>
        <div class="content" *ngIf="card.subType == 'intro' && !isVideoUploaded.intro">
          <button class="action-btn edit-btn" (click)="showUploadVideoDialogFn(card.subType)">Upload Video</button>
        </div>
        <div class="content" *ngIf="card.subType == 'answer1' && !isVideoUploaded.answer1">
          <button class="action-btn edit-btn" (click)="showUploadVideoDialogFn(card.subType)">Upload Video</button>
        </div>
        <div class="content" *ngIf="card.subType == 'answer2' && !isVideoUploaded.answer2">
          <button class="action-btn edit-btn" (click)="showUploadVideoDialogFn(card.subType)">Upload Video</button>
        </div>

        <div class="content" *ngIf="card.subType == 'intro' && isVideoUploaded.intro">
          <p> The introduction video has been Uploaded </p>
        </div>
        <div class="content" *ngIf="card.subType == 'answer1' && isVideoUploaded.answer1">
          <p> The first answer video has been Uploaded </p>
        </div>
        <div class="content" *ngIf="card.subType == 'answer2' && isVideoUploaded.answer2">
          <p> The seconde answer video has been Uploaded </p>
        </div>

      </div>
    </ng-template>

    <ng-template let-card pTemplate="select-survey-type">
      <div class="card-container select-survey-type d-flex flex-column" *ngIf="isVideoUploaded.intro">
        <div class="content">
          <p-selectButton [options]="surveysTypes" [(ngModel)]="selectedSurveyType"
            (onChange)="onSurveyTypeChange($event)" optionValue="value" optionLabel="name"
            [disabled]="messageDetails.normalSurveyId ||messageDetails.feedbackSurveyId"></p-selectButton>
        </div>
      </div>
    </ng-template>

    <ng-template let-card pTemplate="survey">
      <div class="card-container question d-flex flex-column">
        <div class="content">
          <app-add-video-question [surveyType]="1" (onSubmitSurveyEvent)="onAddSurvey($event)">
          </app-add-video-question>
        </div>
      </div>
    </ng-template>

  </p-organizationChart>
</div>

<div class="final-feedback-tree" *ngIf="selectedSurveyType">
  <p-organizationChart [value]="feedbackTreeData">

    <ng-template let-card pTemplate="upload-video">
      <div class="card-container upload-video d-flex flex-column">
        <div class="header">
          <h4 *ngIf="card.label">{{card.label}}</h4>
        </div>
        <div class="content" *ngIf="card.subType == 'feedback' && !isVideoUploaded.feedback">
          <button class="action-btn edit-btn" (click)="showUploadVideoDialogFn(card.subType)">Upload Video</button>
        </div>
        <div class="content" *ngIf="card.subType == 'feedback' && isVideoUploaded.feedback">
          <p> The feedback video has been Uploaded </p>
        </div>
      </div>
    </ng-template>

    <ng-template let-card pTemplate="survey">
      <div class="card-container question d-flex flex-column">
        <div class="content">
          <app-add-video-question [surveyType]="2" (onSubmitSurveyEvent)="onAddSurvey($event)">
          </app-add-video-question>
        </div>
      </div>
    </ng-template>

  </p-organizationChart>
</div>

<div class="upload-videos__actions d-flex justify-content-between" style="padding: 30px 0;">

  <div class="upload-videos__content__actions__cancel">
    <button class="cancel-btn-transparent action-btn d-flex align-items-center"
      (click)="cancelRequest()">cancel</button>
  </div>

  <diV class="upload-videos__content__actions__submit d-flex align-items-center">
    <button class="cancel-btn-transparent action-btn d-flex align-items-center" (click)="continueLater()">Save &
      continue later</button>
    <button class="edit-btn action-btn d-flex align-items-center justify-content-center"
      [disabled]="!messageDetails.introVideoId" (click)="submitVideos(messageDetails)">
      Next</button>
  </diV>

</div>


<app-upload-video-dialog [showDialog]="showUploadVideoDialog" [videoType]="videoType"
  (closeDialogEvent)="onDialogClosed($event)" (uploadVideoEvent)="onUploadVideo($event)"></app-upload-video-dialog>
