<div class="profile">

  <p-dialog [(visible)]="displayChangePasswordDialog" [modal]="true" [breakpoints]="{'960px': '75vw', '640px': '100vw'}"
    [style]="{width: '50vw'}">
    <ng-template pTemplate="header"> Change Password </ng-template>

    <form [formGroup]="changePasswordForm" (submit)="changePassword(changePasswordForm)"
      class="dialogForm d-flex flex-column justify-content-center align-items-center">

      <div class=" dialogForm__currnet-password form-control d-flex flex-column">
        <label for="currnet-password"> Current Password </label>
        <input type="password" class="form-input" formControlName="currentPassword" id="currnet-password"
          placeholder="Current Password Here" required />
      </div>

      <div class="dialogForm__new-password form-control d-flex flex-column">
        <label for="new-password"> New Password </label>
        <input type="password" class="form-input" formControlName="password" id="new-password"
          placeholder="New Password Here" required />
      </div>

      <div class="dialogForm__rePassword form-control d-flex flex-column">
        <label for="repassword"> Re-enter Password </label>
        <input type="password" class="form-input" formControlName="rePassword" id="repassword"
          placeholder="Re-enter New Password Here" required />
        <span class="error-message" *ngIf="
          changePasswordForm?.get('password')?.value && changePasswordForm?.get('password')?.touched &&
          changePasswordForm?.get('rePassword')?.value && changePasswordForm?.get('rePassword')?.touched &&
          changePasswordForm?.errors?.['passwordsNotMatching']">
          Passwords Doesn't Match
        </span>
      </div>

      <diV class="dialogForm__actions d-flex justify-content-between align-items-center">
        <button type="button" class="cancel-btn-transparent action-btn d-flex align-items-center"
          (click)="closeDialog()"> Cancel </button>
        <button class="edit-btn action-btn d-flex align-items-center" type="submit"
          [disabled]="!changePasswordForm.valid"> Change Password </button>
      </diV>


    </form>

  </p-dialog>


  <div class="profile__details d-flex flex-column">
    <div class="profile__details__title-and-action d-flex justify-content-between align-items-center">
      <h3> Video title </h3>
      <div class="d-flex align-items-center" style="gap:10px">
        <button class="edit-btn action-btn d-flex align-items-center" (click)="openChangePasswordDialog()">
          <fa-icon [icon]="icons.edit"></fa-icon> Change Password </button>
        <button class="edit-btn action-btn d-flex align-items-center" *ngIf="!isEditMode" [disabled]="isEditMode"
          (click)="edit()"> <fa-icon [icon]="icons.edit"></fa-icon> Edit </button>
        <button class="cancel-btn action-btn d-flex align-items-center" *ngIf="isEditMode" [disabled]="!isEditMode"
          (click)="cancel()"> <fa-icon [icon]="icons.delete"></fa-icon> Cancel </button>
        <button class="save-btn action-btn d-flex align-items-center" *ngIf="isEditMode" [disabled]="!isEditMode"
          (click)="save()"> <fa-icon [icon]="icons.save"></fa-icon> Save </button>
      </div>
    </div>
    <div class="profile__details__content">

      <div class="profile__details__content__image d-flex justify-content-start flex-column">
        <h3> Photo </h3>
        <div class="profile__details__content__image__container">
          <img [src]="imagePath" />
          <p-fileUpload name="myfile[]" (onSelect)="onFileSelect($event)"> </p-fileUpload>
        </div>
      </div>

      <div class="profile__details__content__form d-flex justify-content-start flex-column">
        <form [formGroup]="profileDetailsForm" *ngIf="!isLoading">

          <div class="profile__details__content__form__left d-flex flex-column">
            <h3>Company Info</h3>

            <div class="profile__details__content__form__company-name-en form-control d-flex flex-column">
              <label for="company-name-en"> Company Name (En) </label>
              <input type="text" class="form-input" formControlName="nameEn" id="company-name-en"
                placeholder="Company Name Here (English)" [required]="this.isEditMode"
                [disableControl]="!this.isEditMode" />
            </div>
            <div class="profile__details__content__form__company-name-ar form-control d-flex flex-column">
              <label for="company-name-ar"> Company Name (Ar) </label>
              <input type="text" class="form-input" formControlName="nameAr" id="company-name-ar"
                placeholder="Company Name Here (Arabic)" [required]="this.isEditMode"
                [disableControl]="!this.isEditMode" />
            </div>

            <div class="profile__details__content__form__company-mail form-control d-flex flex-column">
              <label for="company-mail"> Company E-mail </label>
              <input type="text" class="form-input" formControlName="email" id="company-mail"
                placeholder="Company E-mail Here" [required]="this.isEditMode" [disableControl]="!this.isEditMode" />
              <span class="error-message" *ngIf="
                  profileDetailsForm?.get('email')?.value && profileDetailsForm?.get('email')?.touched &&
                  profileDetailsForm?.get('email')?.errors?.['email']">
                Please enter a valid mail
              </span>
            </div>

            <div class="profile__details__content__form__password form-control d-flex flex-column">
              <label for="password"> Password </label>
              <input type="password" class="form-input" formControlName="password" id="password"
                placeholder="Password Here" [required]="this.isEditMode" [disableControl]="!this.isEditMode" />
            </div>

            <div class="profile__details__content__form__rePassword form-control d-flex flex-column">
              <label for="repassword"> Re-enter Password </label>
              <input type="password" class="form-input" formControlName="rePassword" id="repassword"
                placeholder="Re-enter Password Here" [required]="this.isEditMode" [disableControl]="!this.isEditMode" />
              <span class="error-message" *ngIf="
                  profileDetailsForm?.get('password')?.value && profileDetailsForm?.get('password')?.touched &&
                  profileDetailsForm?.get('rePassword')?.value && profileDetailsForm?.get('rePassword')?.touched &&
                  profileDetailsForm?.errors?.['passwordsNotMatching']">
                Passwords Doesn't Match
              </span>
            </div>
          </div>

          <div class="profile__details__content__form__right d-flex flex-column" formGroupName="responsiblePerson">
            <h3>Responsible person Info</h3>

            <div class="profile__details__content__form__responsible-person-name-en form-control d-flex flex-column">
              <label for="responsible-person-name-en"> Person name (En) </label>
              <input type="text" class="form-input" formControlName="nameEn" id="responsible-person-name-en"
                placeholder="Responsible Person Name Here (English)" [required]="this.isEditMode"
                [disableControl]="!this.isEditMode" />
            </div>

            <div class="profile__details__content__form__responsible-person-name-ar form-control d-flex flex-column">
              <label for="responsible-person-name-ar"> Person name (Ar) </label>
              <input type="text" class="form-input" formControlName="nameAr" id="responsible-person-name-ar"
                placeholder="Responsible Person Name Here (Arabic)" [required]="this.isEditMode"
                [disableControl]="!this.isEditMode" />
            </div>

            <div class="profile__details__content__form__responsible-mail form-control d-flex flex-column">
              <label for="responsible-mail"> E-mail </label>
              <input type="text" class="form-input" formControlName="email" id="responsible-mail"
                placeholder="Responsible E-mail Here" [required]="this.isEditMode"
                [disableControl]="!this.isEditMode" />
              <span class="error-message" *ngIf="
                  profileDetailsForm?.get('responsiblePerson.email')?.value && profileDetailsForm?.get('responsiblePerson.email')?.touched &&
                  profileDetailsForm?.get('responsiblePerson.email')?.errors?.['email']">
                Please enter a valid mail
              </span>
            </div>

            <div class="profile__details__content__form__responsible-title-en form-control d-flex flex-column">
              <label for="responsible-title-en"> Title (En) </label>
              <input type="text" class="form-input" formControlName="titleEn" id="responsible-title-en"
                placeholder="Responsible Title Here (English)" [required]="this.isEditMode"
                [disableControl]="!this.isEditMode" />
            </div>

            <div class="profile__details__content__form__responsible-title-ar form-control d-flex flex-column">
              <label for="responsible-title-ar"> Title (Ar) </label>
              <input type="text" class="form-input" formControlName="titleAr" id="responsible-title-ar"
                placeholder="Responsible Title Here (Arabic)" [required]="this.isEditMode"
                [disableControl]="!this.isEditMode" />
            </div>

            <div class="profile__details__content__form__responsible-mobile-number form-control d-flex flex-column">
              <label for="responsible-mobile-number"> Mobile number </label>
              <input type="text" class="form-input" formControlName="phone" id="responsible-mobile-number"
                placeholder="Responsible Mobile Number Here" [required]="this.isEditMode"
                [disableControl]="!this.isEditMode" />
            </div>

          </div>

        </form>

      </div>
    </div>

  </div>
</div>
