@import "../../../assets/colors";
@import "../../../assets/common-style";

.profile {
  padding: 35px 0;
  &__details {
    width: 100%;
    &__title-and-action {
      padding-bottom: 30px;
      .action-btn {
        border: none;
        background: none;
        gap: 7px;
        padding: 14px 28px;
        border-radius: 8px;
        font-size: 16px;
        color: $white;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      .save-btn {
        background-color: $btn-green;
      }
      .cancel-btn {
        background-color: $btn-red;
      }
      .edit-btn {
        background-color: $primary;
      }
    }
    &__content {
      background-color: $light-grey-bg;
      padding: 50px 100px;
      h3 {
        color: $primary;
        margin: 0;
      }
      &__form {
        form {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 200px;
          label {
            margin-top: 20px;
          }
        }
      }
    }
  }
}

span {
  position: relative;
  background: $primary;
  color: $white;
  outline: none;
  border-radius: 50px;
  width: 45px;
  height: 45px;
  cursor: pointer;
}

span input {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0;
  font-size: 0px;
  z-index: 999;
  cursor: pointer;
}
