@import "../../../assets/colors";
@import "../../../assets/common-style";

.profile {
  padding: 35px 0;
  &__details {
    width: 100%;
    &__title-and-action {
      padding-bottom: 30px;
      .action-btn {
        border: none;
        background: none;
        gap: 7px;
        padding: 14px 28px;
        border-radius: 8px;
        font-size: 16px;
        color: $white;
        cursor: pointer;
        &:hover {
          opacity: 0.9;
        }
        &:disabled {
          opacity: 0.5;
          cursor: not-allowed;
        }
      }
      .save-btn {
        background-color: $btn-green;
      }
      .cancel-btn {
        background-color: $btn-red;
      }
      .edit-btn {
        background-color: $primary;
      }
    }
    &__content {
      background-color: $light-grey-bg;
      padding: 30px 20px;
      &__text {
        gap: 10px;
        label {
          font-weight: bold;
        }
        input {
          background: none;
          border: none;
          padding: 20px;
          outline: none;
          box-shadow: none;
          &.edit-input {
            background-color: $white;
            border-radius: 8px;
          }
        }
      }
    }
  }
}
