<div class="choose-audience">
  <h3>Choose audience</h3>
  <div class="choose-audience__content d-flex align-items-start">


    <div class="choose-audience__content__list ">
      <p-tree [value]="categoriesList" selectionMode="checkbox" [loading]="showCategoriesLoading" [lazy]="true"
        [(selection)]="selectedCategories" (onNodeSelect)="onSelect($event)" (onNodeUnselect)="onUnSelect($event)"
        (onNodeExpand)="onExpand($event)" (onNodeCollapse)="onCollapse($event)"></p-tree>
    </div>


    <div class="choose-audience__content__selected ">
      <div class="choose-audience__content__selected__text d-flex justify-content-between">
        <h4 class="title"> Doctors </h4>
        <h4 class="count"> {{selectedDoctorsFiltered.length}} Doctor </h4>
      </div>
      <p-tree [value]="selectedDoctorsFiltered" selectionMode="checkbox" [loading]="showDoctorsLoading"
        [emptyMessage]="doctorsListEmptyMessage" [(selection)]="selectedDoctors" (onNodeSelect)="onSelectDoctor($event)"
        (onNodeUnselect)="onUnselectDoctor($event)"></p-tree>

    </div>
  </div>
</div>
