<div class="choose-audience d-flex flex-column w-100 gap-20">

  <!-- <div style="text-align: center;">
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  </div> -->

  <div class="choose-audience__form d-flex align-items-start">

    <form [formGroup]="createMessageForm" class="d-flex w-100 gap-20">

      <div class="choose-audience__form__title d-flex flex-column w-100 gap-20">
        <div class="form-control d-flex flex-column w-100 gap-10">
          <label for="title"> Title </label>
          <input type="text" class="form-input" formControlName="titleEn" id="title" placeholder="Title " required />
        </div>
        <div class="choose-audience__form__file form-control d-flex flex-column w-100 gap-10">
          <label> Upload Message Cover Image </label>
          <p-fileUpload [maxFileSize]="3000000" accept="image/*" (onSelect)="onFileSelect($event)"
            (onRemove)="onFileRemove($event)"> </p-fileUpload>
        </div>
      </div>

      <div class="choose-audience__form__description d-flex w-100 gap-20">
        <div class="form-control d-flex flex-column w-100 gap-10">
          <label for="description"> Description </label>
          <textarea pInputTextarea formControlName="descriptionEn" rows="6" [autoResize]="false" id="description"
            placeholder="Description "></textarea>
        </div>
      </div>

    </form>
  </div>


  <div class="choose-audience__content d-flex align-items-start">

    <div class="choose-audience__content__list ">
      <p-tree [value]="categoriesList" selectionMode="checkbox" [loading]="showCategoriesLoading" [lazy]="true"
        [(selection)]="selectedCategories" (onNodeSelect)="onSelectOrUnselectCategory($event)"
        (onNodeUnselect)="onSelectOrUnselectCategory($event)" (onNodeExpand)="onExpandCategory($event)"
        (onNodeCollapse)="onCollapseCategory($event)"></p-tree>
    </div>

    <div class="choose-audience__content__selected ">
      <div class="choose-audience__content__selected__text d-flex justify-content-between">
        <h4 class="title"> Doctors </h4>
        <h4 class="count"> {{doctorsListByCategory.length}} Doctor </h4>
      </div>
      <p-tree [value]="doctorsListByCategory" selectionMode="checkbox" [loading]="showDoctorsLoading"
        [emptyMessage]="doctorsListEmptyMessage" [(selection)]="selectedDoctors"
        (onNodeSelect)="onSelectOrUnselectDoctor($event)" (onNodeUnselect)="onSelectOrUnselectDoctor($event)"></p-tree>

    </div>
  </div>



  <div class="choose-audience__actions d-flex justify-content-between" style="padding: 30px 0;">

    <div class="choose-audience__content__actions__cancel">
      <button class="cancel-btn-transparent action-btn d-flex align-items-center"
        (click)="cancelRequest()">cancel</button>
    </div>

    <diV class="choose-audience__content__actions__submit d-flex align-items-center">
      <button class="cancel-btn-transparent action-btn d-flex align-items-center" (click)="continueLater()">Save &
        continue later</button>
      <button class="edit-btn action-btn d-flex align-items-center justify-content-center"
        [disabled]="!createMessageForm.valid || !selectedDoctors.length" (click)="submitDoctorsList(createMessageForm)">
        Next</button>
    </diV>

  </div>

</div>
