<nav class="navbar">
  <div class="content-container d-flex justify-content-between align-items-center">
    <div class="navbar__logo">
      <img src="../../../assets/images/logo.jpg" alt="logo" />
    </div>
    <div class="navbar__links d-flex align-items-center">
      <ul class="d-flex">
        <li> <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"> Homepage </a> </li>
        <li> <a routerLink="/videos" routerLinkActive="active" ariaCurrentWhenActive="page"> Video List </a> </li>
        <li> <a routerLink="/about" routerLinkActive="active" ariaCurrentWhenActive="page"> About Us </a> </li>
        <!-- <li> <a href="#"> العربية </a> </li> -->
      </ul>
      <div class="navbar__links__profile d-flex align-items-center">
        <img src="../../../assets/images/doctor-avatar.png" alt="profile-img" width="40" />
        <span> DR.maya ameer </span>
        <p-dropdown [options]="dropdownItems" [autoDisplayFirst]="false" optionLabel="name"
          [(ngModel)]="dropdownSelectedItem" (onChange)="onChange($event)">
          <ng-template let-dropdownItem pTemplate="item">
            <img [src]="dropdownItem.icon" alt="dropdown-icon" *ngIf="dropdownItem.route !== '/logout'" width="24" />
            <span [ngClass]="{'dropdown-item-logout': dropdownItem.route == '/logout'}">{{dropdownItem.name}}</span>
          </ng-template>
        </p-dropdown>
      </div>

    </div>
  </div>
</nav>
